
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
}

textarea {
  font-size: 8px;
  width: 100%;
  padding: 5px;
}


#its-wrapper{
  width:600px;
  font-size: 12px;
}

fieldset{
  float: left;
  width: 45%;
  border: none;
  padding: 0;
  margin-left: 2.5%;
}

hr{
  clear:both;
}


label {
  font-size: .875em;
}

input, button {
  width: 100%;
}

#canvas-pattern {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  border: 1px solid #222;
  background: #fff;
}

#canvas-repeat {
  display: block;
}

.controls {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 200px;
  background: #fff;
  padding: 20px;
}
.controls label {
  display: block;
  margin-top: 10px;
}
