
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
}

textarea {
  font-size: 8px;
  width: 100%;
  padding: 5px;
}


#its-wrapper{
  width:600px;
  position:absolute!important;
  right: 0;
  font-size: 12px;
}

fieldset{
  display: inline-block;
  width: 12.5%;
  margin-left: 2.5%;
  border: none;
  padding: 0;
  margin: 0;
}
fieldset:first-child{
  margin-left: 0;
}

hr{
  clear:both;
}

svg{
  margin: 0 auto;
  display: block;
}


.pattern-preview {
  padding: 5px;
  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
  background: #fff;
}
#canvas-pattern{
  display: block;
  margin: 0 auto;
}

#canvas-repeat {
  display: block;

}


.utility-nav{
  position:absolute;
  top: 1em;
  left: 1em;
}

@media only screen 
    and (max-device-width: 640px), 
    only screen and (max-device-width: 667px), 
    only screen and (max-width: 480px)
{
   input[type='range'] {
    -webkit-appearance: none;
    height: 6.5em;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    padding: 2.5em;
    background: #cecece; }

  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 6em;
    background: #fff;
    height: 6em;
    -webkit-border-radius: 50%; }

    fieldset{
      width: 33%;
    }
  .utility-nav button{
    font-size:2em;
  }
}


.controls {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  box-shadow: -2px -1px 5px -3px rgba(0, 0, 0, 0.8);
  padding: 10px;
  opacity: 0;
  background: #e6e3df;
  transition: all 0.5s ease;
}

.controls.active{
  opacity: 1;
}

.controls label {
  font-size: .875em;
}

.controls input, .controls button {
  width: 100%;
}
.controls label {
  display: block;
  margin-top: 10px;
}

#pattern-data{
  background: none;
  padding: 0;
  border: none;
  line-height: 1;
}
