
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
}

textarea {
  font-size: 8px;
  width: 100%;
  padding: 5px;
}


#its-wrapper{
  width:600px;
  font-size: 12px;
}

fieldset{
  display: inline-block;
  width: 12.5%;
  margin-left: 2.5%;
  border: none;
  padding: 0;
  margin: 0;
}
fieldset:first-child{
  margin-left: 0;
}

hr{
  clear:both;
}




.pattern-preview {
  padding: 5px;
  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
  background: #fff;
}
#canvas-pattern{
  display: block;
  margin: 0 auto;
}

#canvas-repeat {
  display: block;

}


.utility-nav{
  position:absolute;
}

.controls {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  box-shadow: -2px -1px 5px -3px rgba(0, 0, 0, 0.8);
  padding: 10px;
  opacity: 0;
  background: #e6e3df;
  transition: all 0.5s ease;
}

.controls.active{
  opacity: 1;
}

.controls label {
  font-size: .875em;
}

.controls input, .controls button {
  width: 100%;
}
.controls label {
  display: block;
  margin-top: 10px;
}
